<!doctype html>
<html lang="en">

  <body>


      <div class="container">
  <h1 class="display-4 text-center my-5">The Gossip Project</h1>

      <div class="row justify-content-center">

        <div class="card flex-row flex-wrap">
          <div class="card-header border-0">
            <img src="https://fr.metrotime.be/wp-content/uploads/2014/08/twin-resized.jpg" alt=""
                 width="300">
          </div>
          <div class="card-block px-2 mt-4 ml-3">
            <h4 class="card-title h2">Contactez l'équipe à l'intiative de ce fan page</h4>
            <p class="card-text"><span class="h5">twinpeaks@twinpeaks.com</p>
            <div class="w-100"></div>
          </div>
        </div>
      </div>
    </div> 
 
  </body>

</html> 
