<!doctype html>
<html lang="en">

<body>
  <h1>welcome <%=params[:first_name] %> !!!</h1>
  <p>Voici notre sites de potins, il est fou non ? (On en est très fiers, pour l'instant...)</p>

</body>

</html>